# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/

# Node
node_modules/
dist/
.npm
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Project
/tmp/
*.pdf
*.docx
!templates/*.docx
!backend/templates/*.docx

# Environment
.env

.git_bad/
